marquee{
   animation-name: heading-background;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
@keyframes heading-background{
    0%{
       background: linear-gradient(45deg,grey,black,grey);
    }
    20%{
       
            background: linear-gradient(45deg,grey,black,grey);
    }
    40%{
        background: linear-gradient(45deg,grey,black,grey);
     }
     60%{
        background: linear-gradient(45deg,grey,black,grey);
     }
     80%{
        background: linear-gradient(45deg,grey,black,grey);
     }
     100%{
        background: linear-gradient(45deg,grey,black,grey);
     }
}